extends ../layout

block content
  .container
    form(method="POST",action="/admin/movie")
      if movie._id
        input(type="hidden", name="movie[_id]", value=movie._id)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputTitle") 电影名字
        .col-sm-10
          input#inputTitle.form-control(type="text", name="movie[title]", value=movie.title)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputCategory") 电影类型
        .col-sm-10
          input#inputCategory.form-control(type="text", name="movie[categoryName]", value=movie.categoryName) 
      .form-group.row
        label.col-sm-2.col-form-label 分类选择
        .col-sm-10
          each cat in categories
            .custom-control.custom-radio.custom-control-inline
              if movie._id
                input.custom-control-input(type="radio", id=cat._id, name="movie[category]", value=cat._id, checked=cat._id.toString()==movie.category.toString())
                label.custom-control-label(for=cat._id) #{cat.name}
              else
                input.custom-control-input(type="radio", id=cat._id, name="movie[category]", value=cat._id)
                label.custom-control-label(for=cat._id) 
                  #{cat.name}
      .form-group.row
        label.col-sm-2.col-form-label(for="inputDoctor") 电影导演
        .col-sm-10
          input#inputDoctor.form-control(type="text", name="movie[doctor]", value=movie.doctor)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputCountry") 国家
        .col-sm-10
          input#inputCountry.form-control(type="text", name="movie[country]", value=movie.country)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputLanguage") 语种
        .col-sm-10
          input#inputLanguage.form-control(type="text", name="movie[language]", value=movie.language)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputPoster") 海报地址
        .col-sm-10
          input#inputPoster.form-control(type="text", name="movie[poster]", value=movie.poster)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputFlash") 片源地址
        .col-sm-10
          input#inputFlash.form-control(type="text", name="movie[flash]", value=movie.flash)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputYear") 上映年份
        .col-sm-10
          input#inputYear.form-control(type="text", name="movie[year]", value=movie.year)
      .form-group.row
        label.col-sm-2.col-form-label(for="inputSummary") 电影简介
        .col-sm-10
          input#inputSummary.form-control(type="textarea", name="movie[summary]", value=movie.summary)
      .form-group.row
        .col-sm-offset-2.col-sm-10
        button.btn.btn-primary(type="submit") 录入