extends ../layout

block content
  .container
      each cat in categories
        .list-group
          .list-group-item.list-group-item-secondary
            h3 #{cat.name}
          .list-group-item
            if cat.movies && cat.movies.length > 0
              each item in cat.movies
                .col-sm-3
                  .card
                    a(href="/movie/#{item._id}")
                      img.card-img-top(src="#{item.poster}", alt="#{item.title}")
                      .card-body
                        h5 #{item.title}
                        p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告电影